h1 {
    margin-left: 30px;
}

img {
    max-width: 300px;
    max-height: 300px;
    padding: 40px;
    float:right;
    padding-top: 100px;
    padding-right: 140px;
  }

/* img:hover {
  opacity: .5;
  cursor: pointer;
} */

#results {
    float:left;
}

